<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="mappers.UserMapper">
  
  <resultMap type="entity.User" id="UserResultMap">  
        <id property="id" column="user_id" />  
        <result property="username" column="username" />  
        <result property="password" column="password" />  
        <result property="email" column="email" />  
        <result property="gender" column="sex" />
        <result property="account" column="account"/>
  </resultMap>  
  
  <insert id="insertUser" parameterType="entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into USER(username,password,email,sex,account) values(#{username},#{password},#{email},#{gender},#{account})
  </insert>  
     
  <update id="updateUser" parameterType="entity.User">
        update USER set username=#{username},password=#{password},email=#{email},sex=#{gender}
        where user_id=#{id}
  </update>
  
  <delete id="deleteUserByID" parameterType="java.lang.Integer">
        delete from USER where user_id = #{id}
  </delete>
  
  <select id="checkUser" parameterType="entity.User" resultMap="UserResultMap">
  	    select * from USER
  	    where account=#{account} AND password=#{password}
  </select>

  <select id="selectUserByID" parameterType="java.lang.String" resultMap="UserResultMap">
  	    select * from USER
  	    where user_id=#{id}
  </select>
  
</mapper>
